<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>scs-version1.02(branch3)</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container-fluid">
<!-- サイドバー -->
<div class="row">
  <div class="col-sm-2">
  {% block sidebar %}
  <h4>scs-version1.02<br>(branch3)</h4>
  <hr>
  <h5>User menu</h5>
  <ul class="sidebar-nav">
    <li><a class="nav-item nav-link" href="">Menu-1</a></li>
    <li><a class="nav-item nav-link" href="">Menu-2</a></li>
    <li><a class="nav-item nav-link" href="">Menu-3</a></li>
    <li><a class="nav-item nav-link" href="">Menu-4</a></li>
    <li><a class="nav-item nav-link" href="">Menu-5</a></li>
  </ul>

  <hr>
  <h5>Signup/Login</h5>
  <ul class="sidebar-nav">
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'usersapp:logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
    <li><a class="nav-item nav-link" href="{% url 'usersapp:signup' %}">Signup</a></li>
    <li><a class="nav-item nav-link" href="{% url 'usersapp:login' %}">Login</a></li>
   {% endif %}
  </ul>

   {% if user.is_staff %}
   <hr />
   <ul class="sidebar-nav">
   <li>Staff</li>
   </ul>
    {% endif %}

    {% endblock %}
  </div>
<!-- サイドバー -->

<!-- メインコンテント -->
  <div class="col-sm-10 ">
  {% block content %}{% endblock %}

  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}


  </div>
</div>

</div>
</body>
</html>
