{% extends "usersapp/base.html" %}
{% block content %}
<h4>Use login</h4><hr>
<ul>
    <li>Here is user login page.</li>
</ul>
<form action="" method="POST">
    <div class="col-auto">
        <div class="card">
            <div class="card-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
